<header>
  <style>

  </style>
</header>
<div class="Container home" ng-hide="data.error" ng-app="">
  <div class="col-sm-12">
    <h3>Lista Samochodów</h3>
    <div style="margin-bottom: 25px">
      Pokaż tabelę <input type="checkbox" ng-model="showTable">
      <div> Samochodów w bazie: <span style="border: 1px solid black; padding: 1px;">{{carsList.length}}</span></div>
      <!--<span>{{(carsList | filter: {mark:'Alfa Romeo'}).length}}</span> -->
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="form-inline">
      <div class="form-group">
        <label for= "model">Model </label>
        <input type="text" ng-model="globalSearch.mark" id="model" class="form-control">
      </div>
      <div class="form-group">
        <label for= "mark">Marka </label>
        <input type="text" ng-model="globalSearch.model" id="mark" class="form-control">
      </div>
      <div class="form-group">
        <label for= "year">Rok </label>
        <input type="text" ng-model="globalSearch.year" id="year" class="form-control">
      </div>
    </div>
  </div>
  <hr>

  <div class="alert alert-danger" ng-show="data.error">
    Niepoprawna nazwa urzytkownika
  </div>

  <div ng-include="homeCtrl.viewTable()"></div>

  <div align="right"><ul uib-pagination total-items="carsList.length + 7 " ng-model="currentPage" ng-change="homeCtrl.pageChanged()" force-ellipses="true"></ul></div>
  <button type="button" ui-sref="car/add" class="btn btn-success">Dodaj pojazd</button>
  <button type="button" ng-click="homeCtrl.showTestModal()" class="btn btn-success">Test Modal</button>
  <button type="button" ng-click="homeCtrl.showTestModal2()" class="btn btn-success">Test Modal 2</button>
  <div></div>
  <button type="button" ng-click="homeCtrl.openPdf('a')" class="btn btn-success">PrintA</button>
  <button type="button" ng-click="homeCtrl.openPdf('b')" class="btn btn-success">PrintB</button>
  <button type="button" ng-click="homeCtrl.openPdf('c')" class="btn btn-success">PrintC</button>
  <button type="button" ng-click="homeCtrl.openPdf('d')" class="btn btn-success">PrintD</button>
  <button type="button" ng-click="homeCtrl.openPdf('e')" class="btn btn-success">PrintE</button>
  <button type="button" ng-click="homeCtrl.openPdf('f')" class="btn btn-success">PrintF</button>
  <button type="button" ng-click="homeCtrl.openPdf('g')" class="btn btn-success">PrintG</button>
  <button type="button" ng-click="homeCtrl.openPdf('h')" class="btn btn-success">PrintH</button>
  <button type="button" ng-click="homeCtrl.openPdf('i')" class="btn btn-success">PrintI</button>
  <button type="button" ng-click="homeCtrl.openPdf('j')" class="btn btn-success">PrintJ</button>
  <button type="button" ng-click="homeCtrl.openPdf('k')" class="btn btn-success">PrintK</button>

  <!--<table class="table">-->
  <!--<thead>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr ng-repeat=" car in carsList">-->
  <!--<td ng-repeat="(key, value) in car">-->
  <!--{{key}} = {{value}}-->
  <!--</td>-->
  <!--</tr>-->
  <!--</tbody>-->
  <!--</table>-->

  <hr>
  <div>


    <span class="radio" ng-repeat="button in ['Kolor', 'Default']">
      <label class="radio-inline">
        <input type="radio" ng-model="parameters.mode" value="{{button}}"/>{{button}}
      </label>
    </span>

    <div ng-switch on="parameters.mode">
      <div ng-switch-when="Kolor">
        <style>
          .odd {background-color: lightgrey}
        </style>
      </div>
      <div ng-switch-when="Default">
      </div>
    </div>

  </div>

</div>