<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h3>TEST</h3>
 {{car}}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="col-sm-2">Model</th>
            <th class="col-sm-2">Marka</th>
            <th class="col-sm-2">Year</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col-sm-2">{{this.car.mark}}</td>
            <td class="col-sm-2">{{car.model}}</td>
            <td class="col-sm-2">{{car.year}}</td>
            <td align="center">
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>