<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th class="col-sm-2">Model</th>
        <th class="col-sm-2">Marka</th>
        <th class="col-sm-2">Year</th>
        <th class="col-sm-3">Vin</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="car in carsList | filter: globalSearch | paginationFilter: (currentPage - 1) * onePageItem | limitTo: onePageItem" ng-class="$odd ? 'odd' : ''">
        <td class="col-sm-2">{{car.mark}}</td>
        <td class="col-sm-2">{{car.model}}</td>
        <td class="col-sm-2">{{car.year}}</td>
        <td class="col-sm-3">{{car.vin}}</td>
        <td align="center">
            <button type="button" ng-click="homeCtrl.showAdvanced(car.id)"
                    class="btn btn-info">Informacja</button>
            <!--<button type="button" ui-sref="car/carDetails({id: car.id})">Informacja</button>-->
        </td>
    </tr>
    </tbody>
</table>