<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">INFOCAR</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#!/car">Samochody</a></li>
      <li><a href="#!/seller">Sprzedawcy</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" >
      <li><a href="#!/login">Zaloguj</a></li>
      <li><a href="#!/register">Utwórz konto</a></li>
    </ul>
  </div>
</nav>
