// Imports will go here to import other component's style. 
// This allows for sharing of global variables.

  //@import "~bourbon";
  @import "components/home/car.scss";
  @import "common/navbar/navbar.scss";


body {
  background-color: ghostwhite;
}

.modal-open {
  overflow-y: hidden;

}

.car-detail-info {
  border: 1px solid grey;
  border-radius: 15px;
  padding: 30px;
  min-width: 25%;
  position : absolute;
  top      : 25%;
  left: 50%;
  transform: translate(-50%, 0);
}


.seller-detail-info {
  border: 1px solid grey;
  border-radius: 15px;
  padding: 30px;
  min-width: 25%;
  position : absolute;
  top      : 25%;
  left: 50%;
  transform: translate(-50%, 0);
}

.inlineControls{
  display: inline-block;
}
///////////////////////////////////////////////////
.testModal-info {
background-color: ghostwhite;
border: 2px solid grey;
border-radius: 5px;
min-width: 20%;
position : absolute;
top: 25%;
left: 50%;
transform: translate(-50%, 0);
}
///////////////////////////////////////////////////
.testModal-info2 {
  background-color: ghostwhite;
  border: 2px solid grey;
  border-radius: 5px;
  min-width: 65%;
  position : absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 20px;
}
///////////////////////////////////////////////////

.tabs-left > .nav-tabs {
  float: right;
  border: none;
}

.tabs-below > .nav-tabs, .tabs-right > .nav-tabs, .tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  background-color: #536779;
  color: white;
}

.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  background-color: #fff;
  color: lightslategrey;
  //border:none;
  margin-right: -5px;
  //border-radius: 0px;
}


.tabs-left > .nav-tabs  a:hover{
  width: 110px;
  margin-right: -1px;
  margin-bottom: 1px;
  padding: 15px 8px;
  background-color: #8899AA;
  color: white;
  border-radius: 0px;
}


.nav-tabs{
  //margin-top: 10px;
}

.left-tab-process .tab-content{
  background-color:#fff;
  margin-right: 130px;
  //margin-left: 10px;
  //margin-top: 10px
}

.tab-content{
  border-right: 1px solid lightgray;
}


.tab-content > .active, .pill-content > .active {
  display: block;
}

.book-process-ltab{
  max-width:130px;}

.left-tab-process .tab-pane{
  //padding: 13px 10px;
  //min-height: 442px;
}

.tac-content{
  background-color:#ccc;}

  .tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
    width: 111px;
    margin-right: 0px;
    margin-bottom: 1px;
    padding: 15px 8px;
    background-color: darkgray;
    color: white;
    border-radius: 0px;
  }

  .left-tab-process .tab-pane {
    padding: 13px 11px;
    min-height: 335px;
  }

  .left-tab-process .tab-content {
    background-color: white;
    margin-right: 110px;
  }

  .nav .active{
    border-radius: 0 0 0 0;
    border: 1px solid lightgray;
    border-left: none;
    border-top: none;
  }

.centers {
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

.max-size-input {
  width: 100%;
}

label {
  font-weight: normal !important;
}
