
<md-dialog class="testModal-info2">

    <md-toolbar>
        <div class="md-toolbar-tools" style=" border-bottom: 2px solid grey">
            <h5 style="color: black; margin-left: 10px">BTB - Bitte Produktionsdaten eingeben</h5>
        </div>
    </md-toolbar>

    <md-dialog-content>

            <div class="row" style=" margin-left: 10px; margin-right: 10px; margin-top: 10px">

                <div class="col-sm-3">
                    <div class="form-group center-block">
                        <label for="comment_1">Branche</label>
                        <input type="text"  id="comment_1" style="width: 100%"/>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group centers">
                        <label style="height: 40px"></label>
                        <button class="btn-default" value="Branche wahlen">Branche wahlen</button>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="sel1">Bezirk/Ausgabe</label>
                        <select class="form-control input-sm" id="sel1">
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="comment_10">Name fur Sortierung</label>
                        <input type="text"  id="comment_10" style="width: 100%"/>
                    </div>
                </div>
            </div>


        <div class="row" style=" margin-left: 10px; margin-right: 10px; margin-bottom: 10px" >
               <div class="col-sm-4">
                    <div class="form-group">
                        <label for="comment_2">Name fur Sortierung</label>
                        <input class="max-size-input" type="text"  id="comment_2"/>
                    </div>
                    <div class="form-group">
                        <label for="comment_3">Namenszeile</label>
                        <input class="max-size-input" type="text"  id="comment_3"/>
                    </div>
                    <div class="form-group">
                        <label for="comment_4">Adresszeile</label>
                        <input class="max-size-input" type="text"  id="comment_4"/>
                    </div>
                    <div class="form-group">
                        <label for="comment_5">Stichwort 1</label>
                        <input class="max-size-input" type="text"  id="comment_5"/>
                    </div>
                    <div class="form-group">
                        <label for="comment_6">Stichwort 2</label>
                        <input class="max-size-input" type="text"  id="comment_6"/>
                    </div>
                    <div id="inner-group" style="margin-top: 147px">
                        <div class="form-group">
                            <label for="comment_7">Infozeile 1</label>
                            <input class="max-size-input" type="text"  id="comment_7"/>
                        </div>
                        <div class="form-group">
                            <label for="comment_8">Infozeile 2</label>
                            <input class="max-size-input" type="text"  id="comment_8"/>
                        </div>
                        <div class="form-group">
                            <label for="comment_9">Infozeile 3</label>
                            <input  class="max-size-input" type="text"  id="comment_9"/>
                        </div>
                    </div>
               </div>

                <div class="col-sm-4">
                    <div id="second-column">
                        <div class="form-group">
                            <label for="comment_2a">Sammeleintrang</label>
                            <input class="max-size-input" type="text"  id="comment_2a"/>
                        </div>
                        <div class="form-group">
                            <label for="comment_3a">Ort</label>
                            <input class="max-size-input" type="text"  id="comment_3a"/>
                        </div>
                        <div class="form-group">
                            <label for="comment_4a">Zusatzzeile 1</label>
                            <input class="max-size-input" type="text"  id="comment_4a"/>
                        </div>
                        <div class="form-group">
                            <label for="comment_5a">Zusatzzeile 2</label>
                            <input class="max-size-input" type="text"  id="comment_5a"/>
                        </div>
                        <div class="form-group">
                            <label for="comment_6a">Zusatzzeile 3</label>
                            <input class="max-size-input" type="text"  id="comment_6a"/>
                        </div>

                        <div class="form-group">
                            <label for="comment_7a">Zusatzzeile 4</label>
                            <input class="max-size-input" type="text"  id="comment_7a"/>
                        </div>
                        <div class="form-group">
                            <label for="comment_8a">Zusatzzeile 5</label>
                            <input class="max-size-input" type="text"  id="comment_8a"/>
                        </div>
                        <div class="form-group">
                            <label for="comment_9a">Zusatzzeile 6</label>
                            <input class="max-size-input" type="text"  id="comment_9a"/>
                        </div>
                        <div class="form-group">
                            <label for="comment_10a">Zusatzzeile 7</label>
                            <input class="max-size-input" type="text"  id="comment_10a"/>
                        </div>
                        <div class="form-group">
                            <label for="comment_11a">Zusatzzeile 8</label>
                            <input class="max-size-input" type="text"  id="comment_11a"/>
                        </div>
                    </div>
                </div>


            <div class="col-sm-4" style="text-align: right">
                <div>
                    <span>Sonntags geoffnet</span>
                    <label class="radio-inline"><input type="radio" name="optradio">Ja</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Nein</label>
                </div>
                <div>
                    <span>Ganztägig warme Küche</span>
                    <label class="radio-inline"><input type="radio" name="optradio">Ja</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Nein</label>
                </div>
                <div>
                    <span>Küche nach 22 Uhr</span>
                    <label class="radio-inline"><input type="radio" name="optradio">Ja</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Nein</label>
                </div>
                <div>
                    <span>Speisen zum Mitnehmen</span>
                    <label class="radio-inline"><input type="radio" name="optradio">Ja</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Nein</label>
                </div>
                <div>
                    <span>Zustellung</span>
                    <label class="radio-inline"><input type="radio" name="optradio">Ja</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Nein</label>
                </div>
                <div>
                    <span>Gastgarten/Terrasse</span>
                    <label class="radio-inline"><input type="radio" name="optradio">Ja</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Nein</label>
                </div>
                <div>
                    <span>Behindertengerecht</span>
                    <label class="radio-inline"><input type="radio" name="optradio">Ja</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Nein</label>
                </div>
                <div>
                    <span>Extrazimmer/Tagungsraum</span>
                    <label class="radio-inline"><input type="radio" name="optradio">Ja</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Nein</label>
                </div>
                <div>
                    <span>Busse willkommen</span>
                    <label class="radio-inline"><input type="radio" name="optradio">Ja</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Nein</label>
                </div>
                <div>
                    <span>Kinderfreundlich/Spielplatz</span>
                    <label class="radio-inline"><input type="radio" name="optradio">Ja</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Nein</label>
                </div>
                <div>
                    <span>Eigener Parkplatz</span>
                    <label class="radio-inline"><input type="radio" name="optradio">Ja</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Nein</label>
                </div>
                <div>
                    <span>Catering</span>
                    <label class="radio-inline"><input type="radio" name="optradio">Ja</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Nein</label>
                </div>
                <div>
                    <span>Hunde erlaubt</span>
                    <label class="radio-inline"><input type="radio" name="optradio">Ja</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Nein</label>
                </div>
                <div>
                    <span>Kreditkarte</span>
                    <label class="radio-inline"><input type="radio" name="optradio">Ja</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Nein</label>
                </div>

                <div class="row" style="margin-top: 10px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="comment_2">Mustermann</label>
                            <div>
                            <label class="radio-inline"><input type="radio" name="optradio">Ja</label>
                            <label class="radio-inline"><input type="radio" name="optradio">Nein</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="daten">Daten kommen bis</label>
                            <input class="max-size-input" type="text"  id="daten"/>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="comment_2">Mustermann</label>
                            <div>
                                <label class="radio-inline"><input type="radio" name="optradio">Ja</label>
                                <label class="radio-inline"><input type="radio" name="optradio">Nein</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>

                <div class="form-group" style="text-align: left">
                    <label for="comment"><h4>Notiz zur Position:</h4></label>
                    <textarea class="form-control" rows="3" id="comment"></textarea>
                </div>
            </div>



                <div align="right" style="float: right">

                    <div class="inlineControls" style="margin-right: 15px" >
                        <div class="checkbox">
                            <label style="color: deepskyblue"><input type="checkbox" value="">Diese Position ins ABO erfassen</label>
                        </div>
                    </div>

                    <div class="inlineControls" >
                        <a class="md-icon-button" style="cursor:pointer">
                            <button style="padding: 5px">
                                <i class="glyphicon glyphicon-trash" style="font-size:20px; color: black"></i>
                            </button>
                        </a>
                    </div>

                    <div class="inlineControls" style="margin-left: 10px">
                        <a class="md-icon-button" style="cursor:pointer">
                            <button style="padding: 5px">
                                <i class="glyphicon glyphicon-floppy-save" style="font-size:20px; color: black"></i>
                            </button>
                        </a>
                    </div>
                </div>
        </div>
    </md-dialog-content>
</md-dialog>






