
<md-dialog layout-padding class="testModal-info">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h5 style="color: black; margin-left: 10px">Bitte Produktionsdaten eingeben</h5>
        </div>

    </md-toolbar>

    <md-dialog-content>
        <div class="tabbable tabs-left left-tab-process" style=" border-top:2px solid grey">
            <ul class="nav nav-tabs book-process-ltab text-center">
                <li class="active"><a href="#a" data-toggle="tab">Option 1</a></li>
                <li class=""><a href="#a" data-toggle="tab">Option 2</a></li>
                <li class=""><a href="#a" data-toggle="tab">Option 3</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="a">

                    <div class="form-group">
                        <label for="comment"><h4>Notiz zur Position:</h4></label>
                        <textarea class="form-control" rows="3" id="comment"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="comment_2"><h4>Nachricht an Fulfillment:</h4></label>
                        <textarea class="form-control" rows="3" id="comment_2"></textarea>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value="">Kunde kauft erste Website</label>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value="">zusatzlich zu bestehender Website</label>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value="">Umsteller - ersetzt bestehende HEROLD WEBSITE</label>
                    </div>

                    <div class="controls-group">

                        <div class="inlineControls">
                            <div class="checkbox">
                                <label style="color: deepskyblue"><input type="checkbox" value="">Diese Position ins ABO erfassen</label>
                            </div>
                        </div>

                        <div align="right">
                            <div class="inlineControls">
                                <a class="md-icon-button" style="cursor:pointer">
                                    <button style="padding: 5px">
                                    <i class="glyphicon glyphicon-trash" style="font-size:20px; color: black"></i>
                                    </button>
                                </a>
                            </div>

                            <div class="inlineControls" style="margin-left: 10px">
                                <a class="md-icon-button" style="cursor:pointer">
                                    <button style="padding: 5px">
                                    <i class="glyphicon glyphicon-floppy-save" style="font-size:20px; color: black"></i>
                                    </button>
                                </a>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>



