<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>

        <div class="col-sm-4">
        <form name="form" novalidate ng-submit="addCtrl.addCar()" role="form">
            <fieldset>
                <h2 align="center">Dodaj Samochód</h2>

                <div style="margin-bottom: 20px;">
                    <div>
                        <label>Marka:</label>
                        <input class="form-control" type="text" ng-model="addCtrl.car.mark" required="required"/>
                    </div>
                </div>

                <div style="margin-bottom: 20px;">
                    <div>
                        <label>Model:</label>
                        <input class="form-control" type="text" ng-model="addCtrl.car.model" required="required"/>
                    </div>
                </div>

                <div style="margin-bottom: 20px;">
                    <div>
                        <label>Rok:</label>
                        <input class="form-control" type="text" ng-model="addCtrl.car.year" required="required"/>
                    </div>
                </div>

                <div style="margin-bottom: 20px;">
                    <div>
                        <label>Vin:</label>
                        <input class="form-control" type="text" ng-model="addCtrl.car.vin" required="required"/>
                    </div>
                </div>

                <div style="margin-bottom: 20px;">
                    <div>
                        <label>Przebieg:</label>
                        <input class="form-control" type="number" ng-model="addCtrl.car.mileag" required="required"/>
                    </div>
                </div>

                <div style="margin-bottom: 20px;">
                    <div>
                        <label>Rodzaj paliwa:</label>
                        <input class="form-control" type="text" ng-model="addCtrl.car.fuelType" required="required"/>
                    </div>
                </div>

                <div style="margin-bottom: 20px;">
                    <div>
                        <label>Opis:</label>
                        <input class="form-control" type="text" ng-model="addCtrl.car.description" required="required"/>
                    </div>
                </div>
            </fieldset>
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">ADD</button>
        </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

