
    <md-dialog layout-padding class="car-detail-info">

        <md-toolbar>
            <div class="md-toolbar-tools" align="right">
                <a class="md-icon-button" ng-click="ctrl.closeModal()" style="cursor:pointer">
                    <i class="fa fa-window-close-o" style="font-size:25px"></i>
                </a>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <h3>Informacje szczegółowe</h3>
            <table class="table table-striped" style="margin-top: 30px">
                <thead>
                <tr></tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>Marka: </strong></td>
                    <td class="col-sm-10">{{car.mark}}</td>
                </tr>
                <tr>
                    <td><strong>Model: </strong></td>
                    <td class="col-sm-810">{{car.model}}</td>
                </tr>
                <tr>
                    <td><strong>Rok: </strong></td>
                    <td class="col-sm-10">{{car.year}}</td>
                </tr>
                <tr>
                    <td><strong>Przebieg: </strong></td>
                    <td class="col-sm-10">{{car.mileag}}</td>
                </tr>
                <tr>
                    <td><strong>Rodzaj paliwa: </strong></td>
                    <td class="col-sm-10">{{car.fuelType}}</td>
                </tr>
                <tr>
                    <td><strong>Nr Vin: </strong></td>
                    <td class="col-sm-10">{{car.vin}}</td>
                </tr>
                <tr>
                    <td><strong>Opis: </strong></td>
                    <td class="col-sm-10">{{car.description}}</td>
                </tr>
                </tbody>
            </table>
        </md-dialog-content>
    </md-dialog>



